body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 90%);
}

#my-h1{
    font-size: 4em;
    font-family: Arial, sans-serif;
    color:hsl(0, 0%, 25%) ;
}

#countainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    border-radius:50px ;
    background-color: white;
    -webkit-border-radius:50px ;
    -moz-border-radius:50px ;
    -ms-border-radius:50px ;
    -o-border-radius:50px ;
}

#display {
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color:hsl(0, 0%, 30%);
    text-shadow: 2px 2px 2px hsl(0, 0%,0%, 0.75);
    margin-bottom: 25px;
}

#buttons button {
    min-width: 125px;
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: hsl(0, 0%, 80%);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#buttons #startbtn {
    background-color: hsl(120, 70%, 45%);
}
#buttons #startbtn:hover {
    background-color: hsl(120, 70%, 25%);
}

#buttons #stopbtn {
    background-color: hsl(0, 70%, 45%);
}
#buttons #stopbtn:hover {
    background-color: hsl(0, 70%, 32%);
}

#buttons #resetbtn {
    background-color: hsl(207, 81%, 49%);
}
#buttons #resetbtn:hover {
    background-color: hsl(207, 81%, 30%);
}


